# Игнорировать исполняемые файлы
*.exe
*.out
*.dll
*.so
*.a
*.lib
*.exp
*.pdb
*.obj

# Игнорировать папку .vscode
.vscode/

# Игнорировать временные файлы сборки
Debug/
Release/
build/
bin/
obj/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать пользовательские настройки (если есть)
*.user
*.suo
*.sdf